# Binaries
boilerplate/engine
boilerplate/memory_hog
boilerplate/cpu_hog
boilerplate/io_pulse
boilerplate/*.o
boilerplate/*.ko
boilerplate/*.mod*
boilerplate/*.symvers
boilerplate/*.order

# Logs
boilerplate/logs/
boilerplate/*.log

# Root Filesystems (DO NOT COMMIT)
rootfs-base/
rootfs-alpha/
rootfs-beta/
alpine-minirootfs-*.tar.gz

# System
/tmp/mini_runtime.sock
.DS_Store
